In [397]:
import pandas as pd
# df = pd.read_csv(r'C:\Users\LOQ\Desktop\فصل اول سنة رابعة\archive\Laptop_price.csv')
df = pd.read_csv(r'C:\Users\LOQ\Desktop\فصل اول سنة رابعة\archive\Laptop_price.csv',index_col="Brand")

In [391]:
# df.head()
# df.head(25)
# df.tail()
# df.tail(25)
# df.sample()
# df.sample(25)

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Brand,,,,,,
Asus,3.462541,16.0,256,13.519092,4.488155,9929.377410
Acer,3.730212,32.0,256,13.981373,2.571011,10382.840434
HP,3.888337,16.0,512,16.501652,4.751662,17685.069592
Lenovo,3.467258,32.0,256,15.657743,3.660676,10881.587053
Lenovo,2.288517,8.0,256,11.783008,2.897696,9453.542470
Lenovo,3.220337,4.0,1000,14.392520,3.292575,31665.884014
Asus,2.594008,4.0,256,13.653514,2.936576,9277.584226
Asus,2.136677,4.0,1000,15.783266,4.175333,31341.446313
HP,3.602179,4.0,256,15.345395,4.388902,9261.621122
Lenovo,1.596066,4.0,256,15.142434,4.498812,9495.625372
Lenovo,3.754405,16.0,1000,13.043269,4.957305,32427.605391
Acer,2.653694,32.0,512,15.829782,4.373853,18028.999081
Asus,3.093004,8.0,1000,11.314348,3.804152,31359.913387
Lenovo,3.148385,16.0,1000,11.957749,3.017661,32045.641451
HP,3.737794,32.0,1000,13.013740,3.633786,33309.869501
HP,3.091674,4.0,512,11.460845,2.123205,16896.067520
Lenovo,3.034834,32.0,256,12.409966,4.234475,10148.017389
Asus,1.666630,32.0,1000,15.980906,3.337867,32684.106787
HP,2.796020,4.0,1000,16.689509,2.060070,31571.913189
Acer,1.875423,4.0,512,12.827614,2.187521,16186.628099
HP,3.343584,4.0,1000,12.587095,3.162399,31593.668017
Dell,2.780555,8.0,256,12.679356,3.750265,9149.521832
Dell,3.200569,4.0,512,12.666315,3.392612,16552.404779
Asus,1.604182,8.0,256,11.215581,3.857613,9407.473459
Lenovo,1.711980,4.0,256,16.561498,3.440883,8807.696702

In [339]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1007 entries, Asus to Lenovo
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1006 non-null   float64
 1   RAM_Size          1005 non-null   float64
 2   Storage_Capacity  1006 non-null   float64
 3   Screen_Size       1005 non-null   float64
 4   Weight            1006 non-null   float64
 5   Price             1003 non-null   float64
dtypes: float64(6)
memory usage: 87.4+ KB

In [365]:
# df.sort_values(by=['Price'],ascending=True)
# df.sort_values(by=['Price'],ascending=False)
# df.sort_values(by=['Price','RAM_Size'],ascending=True)
# df.sort_values(by=['Price','RAM_Size'],ascending=[True,False])

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Brand,,,,,,
HP,1.877645,4.0,256,12.584026,4.983746,8570.012950
HP,1.831312,4.0,256,12.992659,4.117869,8771.368296
Lenovo,1.670431,4.0,256,15.088118,3.593328,8780.660812
Lenovo,1.564530,4.0,256,16.641099,4.237153,8807.456312
Lenovo,1.711980,4.0,256,16.561498,3.440883,8807.696702
...,...,...,...,...,...,...
Dell,3.610426,32.0,1000,14.985210,2.073854,33489.969689
Lenovo,3.877159,32.0,1000,13.783941,3.561348,33503.935037
Lenovo,4.560327,4.0,512,15.026332,2.743620,NaN
HP,3.438819,4.0,256,15.065246,4.371562,NaN
HP,3.438819,4.0,256,15.065246,4.371562,NaN

In [341]:
# df.isna().sum()

Processor_Speed     1
RAM_Size            2
Storage_Capacity    1
Screen_Size         2
Weight              1
Price               4
dtype: int64

In [111]:
# df.dropna().isna().sum()

Processor_Speed     0
RAM_Size            0
Storage_Capacity    0
Screen_Size         0
Weight              0
Price               0
dtype: int64

In [109]:
# df.dropna(subset=['Price']).isna().sum()

Processor_Speed     0
RAM_Size            1
Storage_Capacity    0
Screen_Size         1
Weight              0
Price               0
dtype: int64

In [ ]:
# df=pd.concat([pd.DataFrame([{}],index=["Asus"]),df])
# df.head()
# df=pd.concat([df,pd.DataFrame([{}],index=["Asus"])])
# df.tail()

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Dell,2.780555,8.0,256.0,12.679356,3.750265,9149.521832
Dell,3.200569,4.0,512.0,12.666315,3.392612,16552.404779
Asus,1.604182,8.0,256.0,11.215581,3.857613,9407.473459
Lenovo,1.711980,4.0,256.0,16.561498,3.440883,8807.696702
Asus,NaN,NaN,NaN,NaN,NaN,NaN

In [273]:
# insert=0
# df_top=df.iloc[:insert]
# df_down=df.iloc[insert:]
# df=pd.concat([df_top,pd.DataFrame([{}],index=["Asus"]),df_down])
# df.head()

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Asus,NaN,NaN,NaN,NaN,NaN,NaN
Asus,3.830296,16.0,512.0,11.185147,2.641094,17395.093065
Acer,2.912833,4.0,1000.0,11.311372,3.260012,31607.605919
Lenovo,3.241627,4.0,256.0,11.853023,2.029061,9291.023542
Acer,3.806248,16.0,512.0,12.280360,4.573865,17436.728334

In [269]:
# df.isna().sum()

Processor_Speed     4
RAM_Size            5
Storage_Capacity    4
Screen_Size         5
Weight              4
Price               7
dtype: int64

In [399]:
# df.dropna(how='all').isna().sum()

Processor_Speed     0
RAM_Size            1
Storage_Capacity    0
Screen_Size         1
Weight              0
Price               3
dtype: int64

In [279]:
# df.drop(0)
# df.drop("Asus")
# df.drop(df.index[0])

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Acer,2.912833,4.0,1000.0,11.311372,3.260012,31607.605919
Lenovo,3.241627,4.0,256.0,11.853023,2.029061,9291.023542
Acer,3.806248,16.0,512.0,12.280360,4.573865,17436.728334
Acer,3.268097,32.0,1000.0,14.990877,4.193472,32917.990718
HP,1.881348,16.0,256.0,11.943958,4.840268,9543.719980
...,...,...,...,...,...,...
Acer,1.875423,4.0,512.0,12.827614,2.187521,16186.628099
HP,3.343584,4.0,1000.0,12.587095,3.162399,31593.668017
Dell,2.780555,8.0,256.0,12.679356,3.750265,9149.521832
Dell,3.200569,4.0,512.0,12.666315,3.392612,16552.404779
Lenovo,1.711980,4.0,256.0,16.561498,3.440883,8807.696702

In [ ]:
# df['new price']=None
# df.head()
# df['new price']=df['Price']+(df['Storage_Capacity']*10)
# df.head()

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price,new price
Brand,,,,,,,
Asus,3.830296,16.0,512,11.185147,2.641094,17395.093065,22515.093065
Acer,2.912833,4.0,1000,11.311372,3.260012,31607.605919,41607.605919
Lenovo,3.241627,4.0,256,11.853023,2.029061,9291.023542,11851.023542
Acer,3.806248,16.0,512,12.280360,4.573865,17436.728334,22556.728334
Acer,3.268097,32.0,1000,14.990877,4.193472,32917.990718,42917.990718

In [135]:
# df['Price'].max()

33503.93503731473

In [137]:
# df['Price'].min()

8570.01295046808

In [141]:
# df.describe()

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
count,1006.000000,1005.000000,1006.000000,1005.000000,1006.000000,1003.000000
mean,2.755450,15.470647,583.610338,14.059002,3.467935,19597.837273
std,0.733215,10.997572,313.469138,1.702647,0.865934,9412.246000
min,1.511580,4.000000,256.000000,11.012111,2.000560,8570.012950
25%,2.092597,8.000000,256.000000,12.638244,2.725767,10060.161123
50%,2.771112,16.000000,512.000000,14.100740,3.464630,17283.376008
75%,3.386580,32.000000,1000.000000,15.522404,4.215049,31566.461773
max,4.560327,32.000000,1000.000000,16.985737,4.990728,33503.935037

In [283]:
# df.loc["Asus",["Weight","Price"]]

        Weight         Price
Asus       NaN           NaN
Asus  2.641094  17395.093065
Asus  3.092338  31967.607632
Asus  3.606104   9831.389962
Asus  4.254359   8971.512505
...        ...           ...
Asus  2.936576   9277.584226
Asus  4.175333  31341.446313
Asus  3.804152  31359.913387
Asus  3.337867  32684.106787
Asus  3.857613   9407.473459

[207 rows x 2 columns]

In [6]:
# df.loc[df['Price']==df['Price'].max(),'RAM_Size']

Brand
Lenovo    32
Name: RAM_Size, dtype: int64

In [85]:
# df.loc[["Asus","Lenovo"],['Weight','Price']]

          Weight         Price
Brand
Asus    2.641094  17395.093065
Asus    3.092338  31967.607632
Asus    3.606104   9831.389962
Asus    4.254359   8971.512505
Asus    2.583343   9593.110592
...          ...           ...
Lenovo  4.498812   9495.625372
Lenovo  4.957305  32427.605391
Lenovo  3.017661  32045.641451
Lenovo  4.234475  10148.017389
Lenovo  3.440883   8807.696702

[397 rows x 2 columns]

In [329]:
# df.loc[df.isnull().any(axis=1)]
# df.loc[df.isnull().all(axis=1)]
# df.loc[df[['Price','Screen_Size']].isnull().any(axis=1)]
# df.loc[df['Price'].isnull()]

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Asus,NaN,NaN,NaN,NaN,NaN,NaN
Lenovo,4.560327,4.0,512.0,15.026332,2.743620,NaN
HP,3.438819,4.0,256.0,15.065246,4.371562,NaN
HP,3.438819,4.0,256.0,15.065246,4.371562,NaN

In [413]:
# df.loc[df['Price']>10000]
# df.query("Price>10000")

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Brand,,,,,,
Asus,3.830296,16.0,512,11.185147,2.641094,17395.093065
Acer,2.912833,4.0,1000,11.311372,3.260012,31607.605919
Acer,3.806248,16.0,512,12.280360,4.573865,17436.728334
Acer,3.268097,32.0,1000,14.990877,4.193472,32917.990718
Lenovo,2.940721,32.0,256,11.713246,4.344846,10390.137319
...,...,...,...,...,...,...
Asus,1.666630,32.0,1000,15.980906,3.337867,32684.106787
HP,2.796020,4.0,1000,16.689509,2.060070,31571.913189
Acer,1.875423,4.0,512,12.827614,2.187521,16186.628099
HP,3.343584,4.0,1000,12.587095,3.162399,31593.668017
Dell,3.200569,4.0,512,12.666315,3.392612,16552.404779

In [487]:
# df.loc[(df['Price']>10000) & (df.index=='Asus')]
# df.loc[(df['RAM_Size']<32) & (df['Storage_Capacity']>=256)]

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
Brand,,,,,,
Asus,3.830296,16.0,512,11.185147,2.641094,17395.093065
Acer,2.912833,4.0,1000,11.311372,3.260012,31607.605919
Lenovo,3.241627,4.0,256,11.853023,2.029061,9291.023542
Acer,3.806248,16.0,512,12.280360,4.573865,17436.728334
HP,1.881348,16.0,256,11.943958,4.840268,9543.719980
...,...,...,...,...,...,...
HP,3.343584,4.0,1000,12.587095,3.162399,31593.668017
Dell,2.780555,8.0,256,12.679356,3.750265,9149.521832
Dell,3.200569,4.0,512,12.666315,3.392612,16552.404779
Asus,1.604182,8.0,256,11.215581,3.857613,9407.473459
Lenovo,1.711980,4.0,256,16.561498,3.440883,8807.696702

In [521]:
# df.query("Price > 10000 and @df.index== 'Asus'")

# x=1000
# df.query("Price > x") #error
# df.query("Price > @x") #correct with @

# df.query("new price > @x") #error 
# df.query("'new price' > @x") #error with single quotation
# df.query("`new price` > @x") #correct with backticks

# df.query("RAM_Size < 32 and Storage_Capacity>= 256")

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price,new price
Brand,,,,,,,
Asus,3.830296,16.0,512,11.185147,2.641094,17395.093065,22515.093065
Acer,2.912833,4.0,1000,11.311372,3.260012,31607.605919,41607.605919
Lenovo,3.241627,4.0,256,11.853023,2.029061,9291.023542,11851.023542
Acer,3.806248,16.0,512,12.280360,4.573865,17436.728334,22556.728334
Acer,3.268097,32.0,1000,14.990877,4.193472,32917.990718,42917.990718
...,...,...,...,...,...,...,...
HP,3.343584,4.0,1000,12.587095,3.162399,31593.668017,41593.668017
Dell,2.780555,8.0,256,12.679356,3.750265,9149.521832,11709.521832
Dell,3.200569,4.0,512,12.666315,3.392612,16552.404779,21672.404779
Asus,1.604182,8.0,256,11.215581,3.857613,9407.473459,11967.473459
Lenovo,1.711980,4.0,256,16.561498,3.440883,8807.696702,11367.696702